/* === Focus Ring === */

@utility focus-ring {
  @apply ring-focus ring-offset-background outline-none ring-2 ring-offset-0;
  /* Overrides the ring offset from the theme variables */
  --tw-ring-offset-width: var(--ring-offset-width);
}

/* === Statuses === */
@utility status-focused {
  @apply focus-ring;
}

@utility status-disabled {
  opacity: var(--disabled-opacity);
  cursor: var(--cursor-disabled);
  pointer-events: none;
}

@utility status-pending {
  @apply pointer-events-none;
}
