@import 'tailwindcss';

/* Font Sizes */
@utility text-tiny {
  font-size: var(--heroui-font-size-tiny);
  line-height: var(--heroui-line-height-tiny);
}

@utility text-small {
  font-size: var(--heroui-font-size-small);
  line-height: var(--heroui-line-height-small);
}

@utility text-medium {
  font-size: var(--heroui-font-size-medium);
  line-height: var(--heroui-line-height-medium);
}

@utility text-large {
  font-size: var(--heroui-font-size-large);
  line-height: var(--heroui-line-height-large);
}
