/* Card component styles */

/* Block */
.card {
  @apply relative flex flex-col gap-3 overflow-hidden p-4;
  @apply border-border rounded-3xl;
}

/* Element - header */
.card__header {
  @apply flex flex-col;
}

/* Element - title */
.card__title {
  @apply text-foreground text-base font-medium leading-6;
}

/* Element - description */
.card__description {
  @apply text-muted text-sm leading-5;
}

/* Element - content */
.card__content {
  @apply flex flex-1 flex-col gap-1;
}

/* Element - footer */
.card__footer {
  @apply flex flex-row items-center;
}

/* Modifier - variant */
.card--variant-flat {
  @apply border-none bg-transparent shadow-none;
}

.card--variant-outlined {
  @apply bg-surface-1;
}

.card--variant-elevated {
  @apply bg-surface-2;
}

.card--variant-filled {
  @apply bg-surface-3;
}
