/* Base styles */
.chip {
  @apply inline-flex shrink-0 items-center gap-1.5 rounded-2xl bg-default px-2 py-0.5 text-sm leading-5 font-medium;
}

/* Color variants */
.chip--accent {
  @apply text-accent;
}

.chip--danger {
  @apply text-danger;
}

.chip--default {
  @apply text-default-foreground;
}

.chip--success {
  @apply text-success;
}

.chip--warning {
  @apply text-warning;
}

/* Variant styles */
.chip--primary {
}

.chip--secondary {
  /* No additional styles for secondary variant */
}

.chip--tertiary {
  @apply bg-transparent;
}

/* Size variants */
.chip--sm {
  @apply px-1 py-0 text-xs;
}

.chip--md {
  @apply text-xs;
}

.chip--lg {
  @apply px-3 py-1 text-sm font-medium;
}

/* ====================== */
/* = Compound variants = */
/* ====================== */

/* Primary variants */
.chip--primary.chip--accent {
  @apply bg-accent text-accent-foreground;
}

.chip--primary.chip--success {
  @apply bg-success text-success-foreground;
}

.chip--primary.chip--warning {
  @apply bg-warning text-warning-foreground;
}

.chip--primary.chip--danger {
  @apply bg-danger text-danger-foreground;
}
/* Soft variants */
.chip--accent.chip--soft {
  @apply bg-accent-soft text-accent-soft-foreground;
}

.chip--success.chip--soft {
  @apply bg-success-soft text-success-soft-foreground;
}

.chip--warning.chip--soft {
  @apply bg-warning-soft text-warning-soft-foreground;
}

.chip--danger.chip--soft {
  @apply bg-danger-soft text-danger-soft-foreground;
}
