/* ==========================================================================
   Base dropdown styles
   ========================================================================== */

.dropdown {
  @apply flex flex-col gap-1;
}

.dropdown__trigger {
  /* Button styles are handled by Button component */
}

/* Similar to select content styles */
.dropdown__content {
  @apply bg-overlay origin-[var(--trigger-anchor-point)] scroll-py-1 overflow-y-auto overscroll-contain rounded-3xl p-0 text-sm will-change-transform;
  box-shadow: var(--shadow-overlay);
  min-width: 160px;

  /* Focus state */
  &:focus-visible,
  &[data-focus-visible="true"] {
    @apply outline-none;
  }

  /* Entering animations */
  &[data-entering] {
    @apply animate-in zoom-in-90 fade-in-0 ease-fluid-out duration-250;

    /* Placement-specific translations */
    &[data-placement="top"] {
      @apply slide-in-from-bottom-1;
    }

    &[data-placement="bottom"] {
      @apply slide-in-from-top-1;
    }

    &[data-placement="left"] {
      @apply slide-in-from-right-1;
    }

    &[data-placement="right"] {
      @apply slide-in-from-left-1;
    }
  }

  /* Exiting animations */
  &[data-exiting] {
    @apply animate-out zoom-out-95 fade-out ease-out-quad duration-100;
  }

  /* Arrow styling */
  & [data-slot="popover-overlay-arrow"] {
    fill: var(--overlay);
  }

  /* Arrow rotation based on placement */
  &[data-placement="bottom"] [data-slot="popover-overlay-arrow"] {
    rotate: 180deg;
  }

  &[data-placement="left"] [data-slot="popover-overlay-arrow"] {
    rotate: -90deg;
  }

  &[data-placement="right"] [data-slot="popover-overlay-arrow"] {
    rotate: 90deg;
  }

  /* Menu styles */
  [data-slot="dropdown-menu"] {
    @apply p-1.5 outline-none;
  }

  [data-slot="menu-item"] {
    @apply px-2.5;
  }

  /* As the popover closes fast in single-select mode, the default item indicator transition is not even visible - so we disable it only for single-select */
  [data-slot="dropdown-menu"]:not([data-selection-mode="multiple"])
    [data-slot="menu-item-indicator"],
  [data-slot="dropdown-menu"]:not([data-selection-mode="multiple"])
    [data-slot="menu-item-indicator"]
    [data-slot="menu-item-indicator--checkmark"] {
    @apply transition-none;
  }
}

.dropdown__menu {
  @apply relative flex w-full flex-col gap-1 overflow-clip p-1;

  /* This makes the separator take up 94% of the width and be centered */
  [data-slot="separator"] {
    @apply ml-[3%] w-[94%];
  }
}
