/* Field error styles */
.field-error {
  @apply text-danger h-0 truncate px-1 text-xs opacity-0 data-[visible=true]:h-auto data-[visible=true]:opacity-100;

  /* Transition */
  @apply motion-field-error reduce-motion:motion-none;
}
