/* ==========================================================================
   Base header styles
   ========================================================================== */

.header {
  @apply text-muted w-full px-2 pb-1 pt-1.5 text-left text-xs font-medium;
}
