/* ==========================================================================
   Base header styles
   ========================================================================== */

.header {
  @apply w-full px-2 pt-1.5 pb-1 text-left text-xs font-medium text-muted;
}
