/* ==========================================================================
   Base header styles
   ========================================================================== */

.header {
  @apply text-muted p-1.5 pb-0 pt-2 text-xs font-medium;
}
