/* Base styles */
.kbd {
  @apply bg-default text-muted border-border inline-flex h-6 items-center space-x-0.5 whitespace-nowrap rounded-lg px-2 text-center font-sans text-sm font-medium rtl:space-x-reverse;
  word-spacing: -0.25rem;
}

/* Key abbreviation styles */
.kbd__abbr {
  @apply flex size-full items-center justify-center no-underline;
}

/* Content wrapper */
.kbd__content {
  @apply flex items-center justify-center;
}

/* Variant styles */
.kbd--light {
  @apply bg-transparent;
}
