/* ==========================================================================
   Base listbox section styles
   ========================================================================== */

.listbox-section {
  @apply flex flex-col items-start gap-1;
}
