/* ==========================================================================
   Base list-box section styles
   ========================================================================== */

.list-box-section {
  @apply flex flex-col items-start gap-0;
}
