/* ==========================================================================
   Base list-box styles
   ========================================================================== */

.list-box {
  @apply relative flex w-full flex-col gap-1 overflow-clip p-1;

  /* This makes the horizontal separator take up 94% of the width and be centered */
  [data-slot="separator"][data-orientation="horizontal"] {
    @apply ml-[3%] w-[94%];
  }
}
