/* ==========================================================================
   Base menu section styles
   ========================================================================== */

.menu-section {
  @apply flex flex-col items-start gap-0;
}
