/* Base scroll-shadow component */
.scroll-shadow {
  @apply relative;
  @apply [--scroll-shadow-size:_attr(data-scroll-shadow-size_px,_40px)];
}

/* On surface variant */
.scroll-shadow--on-surface {
}

/* Orientation: Vertical */
.scroll-shadow--vertical {
  @apply overflow-y-auto;
}

/* Orientation: Horizontal */
.scroll-shadow--horizontal {
  @apply overflow-x-auto;
}

/* Variant: Fade - Vertical */
.scroll-shadow--fade.scroll-shadow--vertical {
  &[data-top-scroll="true"] {
    mask-image: linear-gradient(0deg, #000 calc(100% - var(--scroll-shadow-size)), transparent);
  }

  &[data-bottom-scroll="true"] {
    mask-image: linear-gradient(180deg, #000 calc(100% - var(--scroll-shadow-size)), transparent);
  }

  &[data-top-bottom-scroll="true"] {
    mask-image: linear-gradient(
      #000,
      #000,
      transparent 0,
      #000 var(--scroll-shadow-size),
      #000 calc(100% - var(--scroll-shadow-size)),
      transparent
    );
  }
}

/* Variant: Fade - Horizontal */
.scroll-shadow--fade.scroll-shadow--horizontal {
  &[data-left-scroll="true"] {
    mask-image: linear-gradient(270deg, #000 calc(100% - var(--scroll-shadow-size)), transparent);
  }

  &[data-right-scroll="true"] {
    mask-image: linear-gradient(90deg, #000 calc(100% - var(--scroll-shadow-size)), transparent);
  }

  &[data-left-right-scroll="true"] {
    mask-image: linear-gradient(
      to right,
      #000,
      #000,
      transparent 0,
      #000 var(--scroll-shadow-size),
      #000 calc(100% - var(--scroll-shadow-size)),
      transparent
    );
  }
}

/* Hide scrollbar modifier */
.scroll-shadow--hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    @apply hidden;
  }
}
