/* Base spinner styles */
.spinner {
  @apply animate-spin-fast pointer-events-none relative size-6 origin-center;
}

/* Size variants */
.spinner--sm {
  @apply size-4;
}

.spinner--md {
  /* No styles as this is the default size */
}

.spinner--lg {
  @apply size-8;
}

.spinner--xl {
  @apply size-10;
}

/* Color variants */
.spinner--current {
  @apply text-current;
}

.spinner--accent {
  @apply text-accent;
}

.spinner--danger {
  @apply text-danger;
}

.spinner--success {
  @apply text-success;
}

.spinner--warning {
  @apply text-warning;
}
