/**
 * Toggling dark mode manually
 * Docs: https://tailwindcss.com/docs/dark-mode#toggling-dark-mode-manually
 */

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *, .dark, .dark *));

/*
* Uncomment the following line to use the Inter font when not working on a Next.js project.
* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* Then replace var(--font-inter) to Inter
*/

@layer base {
  :root {
    /* Base Colors */
    --background: oklch(100% 0 0);
    /* --background: oklch(0.95 0 0); */
    --foreground: oklch(14.48% 0 0);
    --panel: oklch(100% 0 0);

    --muted: var(--color-neutral-500);
    --scrollbar: var(--color-neutral-200);

    --base: var(--color-neutral-50);
    --base-foreground: var(--color-neutral-600);

    --accent: oklch(0.14 0 0);
    --accent-foreground: oklch(0.99 0 0);

    --accent-soft: var(--color-neutral-200);
    --accent-soft-foreground: var(--color-neutral-700);

    /* Status Colors */
    --success: oklch(0.55 0.1241 153.51);
    --success-foreground: oklch(99.11% 0 0);

    --warning: oklch(0.67 0.1428 72.73);
    --warning-foreground: oklch(99.11% 0 0);

    --danger: oklch(0.59 0.2228 29.94);
    --danger-foreground: oklch(99.11% 0 0);

    /* Misc colors */
    --border: oklch(0 0 0 / 15%);
    --focus: oklch(0% 0 0 / 20%);
    --link: var(--foreground);

    /* Layout */
    --border-width: 1px;
    --disabled-opacity: 0.5;

    --radius: 0.75rem; /* 12px */
    --radius-xs: calc(var(--radius) * 0.25);
    --radius-sm: calc(var(--radius) * 0.5);
    --radius-md: calc(var(--radius) * 0.75);
    --radius-lg: calc(var(--radius) * 1);
    --radius-xl: calc(var(--radius) * 1.5);
    --radius-2xl: calc(var(--radius) * 2);
    --radius-3xl: calc(var(--radius) * 3);
    --radius-4xl: calc(var(--radius) * 4);

    /* Font sizes */
    --mobile-font-size: 16px;
    --desktop-font-size: 14px;
  }

  .dark,
  [data-theme="dark"] {
    /* Base Colors */
    --background: oklch(0% 0 0);
    --foreground: oklch(99.11% 0 0);
    --panel: oklch(0.22 0 0);

    --muted: var(--color-neutral-300);
    --scrollbar: var(--color-neutral-800);

    --base: var(--color-neutral-900);
    --base-foreground: var(--color-neutral-200);

    --accent: oklch(0.99 0 0);
    --accent-foreground: oklch(0.22 0 0);

    --accent-soft: var(--color-neutral-800);
    --accent-soft-foreground: var(--color-neutral-200);

    /* Status Colors */
    --success: oklch(0.8 0.1561 154);
    --success-foreground: oklch(0.1 0.02 0);

    --warning: oklch(0.85 0.1414 77.88);
    --warning-foreground: oklch(0.1 0.02 0);

    --danger: oklch(0.69 0.1801 26.45);
    --danger-foreground: oklch(0% 0 0);

    /* Misc colors */
    --border: oklch(1 0 0 / 20%);
    --focus: oklch(100% 0 0 / 50%);
  }
}

@variant dark (&:is(.dark *));

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--border, currentColor);
  }
}

@layer base {
  * {
    font-feature-settings: "cv11", "ss01";
    font-variation-settings: "opsz" 850;
    text-rendering: optimizeLegibility;

    /*
     * Scrollbar
     */
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar) transparent;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-size: var(--mobile-font-size);
  }

  @media (min-width: 768px) {
    body {
      font-size: var(--desktop-font-size);
    }
  }
}

@theme inline {
  /* Recommended font is: Inter, Sathosi, Geist */
  /*--font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",*/
  /*"Segoe UI Symbol", "Noto Color Emoji";*/

  /* Recommended font is: Geist Mono */
  /*--font-mono: var(--font-geist), 'ui-monospace', 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', '"Liberation Mono"', '"Courier New"', 'monospace';*/

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-panel: var(--panel);

  --color-muted: var(--muted);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-accent-soft: var(--accent-soft);
  --color-accent-soft-foreground: var(--accent-soft-foreground);

  --color-border: var(--border);
  --color-focus: var(--focus);
  --color-link: var(--link);

  --color-base: var(--base);
  --color-base-foreground: var(--base-foreground);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);

  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);

  --color-danger: var(--danger);
  --color-danger-foreground: var(--danger-foreground);
}
