/*
* Uncomment the following line to use the Inter font when not working on a Next.js project.
* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* Then replace var(--font-inter) to Inter
*/

@layer base {
  :root {
    /* Base Colors */
    --background: oklch(100% 0 0);
    --foreground: oklch(14.48% 0 0);

    --muted: var(--color-neutral-500); /* from tailwind */

    --primary: oklch(17.3% 0 0);
    --primary-foreground: oklch(93.7% 0 0);
    --primary-flat: oklch(94.91% 0 0);
    --primary-flat-foreground: oklch(14.48% 0 0);

    --danger-background: oklch(64.45% 0.2097 24.88);
    --danger-foreground: oklch(99.11% 0 0);

    --base-subtle: var(--color-neutral-50); /* from tailwind */

    /* Misc colors */
    --border: oklch(0 0 0 / 10%);
    --focus: oklch(0% 0 0 / 20%);

    /* Layout */
    --border-width: 1px;
    --disabled-opacity: 0.5;

    --radius: 0.875rem; /* 12px */
    --radius-xs: calc(var(--radius) * 0.5);
    --radius-sm: calc(var(--radius) * 0.75);
    --radius-md: calc(var(--radius) * 0.9);
    --radius-xl: calc(var(--radius) * 1.25);
    --radius-2xl: calc(var(--radius) * 1.5);
    --radius-3xl: calc(var(--radius) * 2);
    --radius-4xl: calc(var(--radius) * 3);
  }

  .dark,
  [data-theme="dark"] {
    /* Base Colors */
    --background: oklch(0% 0 0);
    --foreground: oklch(99.11% 0 0);

    --muted: var(--color-neutral-300); /* from tailwind */

    --primary: oklch(96.12% 0 0);
    --primary-foreground: oklch(21.78% 0 0);
    --primary-flat: oklch(32.5% 0 0);
    --primary-flat-foreground: oklch(99.11% 0 0);

    --danger-background: oklch(64.45% 0.2097 24.88);
    --danger-foreground: oklch(99.11% 0 0);

    --base-subtle: var(--color-neutral-800); /* from tailwind */

    /* Misc colors */
    --border: oklch(1 0 0 / 16%);
    --focus: oklch(100% 0 0 / 50%);
  }
}

@variant dark (&:is(.dark *));

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--border, currentColor);
  }
}

@layer base {
  * {
    font-feature-settings: "cv11", "ss01";
    font-variation-settings: "opsz" 850;
    text-rendering: optimizeLegibility;

    /*
     * Scrollbar
     */
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}

@theme inline {
  /* Recommended font is: Inter, Sathosi, Geist */
  /*--font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",*/
  /*"Segoe UI Symbol", "Noto Color Emoji";*/

  /* Recommended font is: Geist Mono */
  /*--font-mono: var(--font-geist), 'ui-monospace', 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', '"Liberation Mono"', '"Courier New"', 'monospace';*/

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-muted: var(--muted);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-flat: var(--primary-flat);
  --color-primary-flat-foreground: var(--primary-flat-foreground);

  --color-danger-background: var(--danger-background);
  --color-danger-foreground: var(--danger-foreground);

  --color-border: var(--border);
  --color-focus: var(--focus);

  --color-base-subtle: var(--base-subtle);
}
