@import "tailwindcss";
@plugin "@heroui/react/plugin";

/* With advanced options */
/* 
 @plugin "@heroui/react/plugin" {
  themes: "light --default, dark --prefersdark";
  colorscheme: "dark";
  default: true;
  prefersdark: true;
  name: "dark";
}
*/

/* Important: This source is important to make sure storybook styles are compiled */
@source "../../react/**/*.{ts,tsx,js,jsx}";

/* Custom theme overrides - Just use CSS! */
:root {
  /* Your values */
  /* --radius: 2.5rem; */

  /* Use OS-native cursor for interactive elements (macOS style) */
  /* --cursor: default; */
}

/* Dark theme overrides sing data-theme or class */
[data-theme="dark"],
.dark {
  /* Your values */
  /* --radius: 0.5rem; */
  /* --cursor: default; */
}
