@import "tailwindcss";
@import "@heroui/styles";
@import "fumadocs-ui/css/black.css";
@import "fumadocs-ui/css/preset.css";

:root {
  /* Override accent colors with your brand */
  /* --accent: oklch(0.7 0.25 260); */
  /* --accent-foreground: oklch(0.98 0 0); */

  /* Or use your existing Tailwind color scale */
  /* --accent: var(--color-blue-600); */
  /* --accent-soft: var(--color-blue-100); */

  /* Fumadocs UI */
  --fd-layout-width: 1400px;
  --color-fd-background: #f9f9f9;
  --color-fd-primary: oklch(0.14 0 0);
  --color-fd-secondary: #f9f9f9;
  --color-fd-card: #f9f9f9;
  --spacing-fd-container: 1120px;
  --color-fd-border: oklch(0 0 0 / 10%);
  --color-fd-accent: #e0e0e7;
  --color-fd-muted-foreground: var(--color-neutral-500);
  --color-backdrop: rgba(255, 255, 255, 0.4);

  /* Fumadocs UI Animations */
  --animate-fd-fade-in: custom-fade-in 200ms ease-out forwards;
  --animate-fd-fade-out: custom-fade-out 150ms ease-out forwards;
}

[data-theme="dark"],
.dark {
  /* Your values */
  /* --radius: 0.5rem; */
  /* --cursor: default; */
  --color-fd-primary: oklch(0.99 0 0);
  --color-fd-background: #1a1a1a;
  --color-fd-card: #1a1a1a;
  --color-fd-popover: #383435;
  --color-backdrop: rgba(0, 0, 0, 0.4);
}

/* To override HeroUI Components Styles */
/* @utility button {
  @apply rounded-lg;
} */

/* Fumadocs UI Components Styles */

#nd-home-layout {
  #nd-nav {
    [data-theme-toggle] {
      display: none;
    }
  }
}

#nd-nav {
  border: none;
  background-color: transparent;

  /* Only affects the Docs/Components ul, not the search/theme toggle */
  ul:first-of-type {
    padding-top: 4px;
    gap: 0;
  }

  ul:last-of-type {
    li > a:last-of-type {
      @apply text-foreground ml-1 inline-flex items-center rounded-full border p-1.5;
    }
  }

  li > a {
    color: var(--muted);
  }

  [data-search-full] {
    @apply bg-default border-border shadow-xs/5 rounded-lg;

    kbd {
      @apply bg-default-hover border-border;
    }
  }

  [aria-label="GitHub"] {
    @apply w-0 opacity-0;
  }
}

#nd-sidebar {
  @apply pt-0;

  --radius: 0.5rem;

  @media (min-width: 600px) {
    --fd-sidebar-width: 240px;
  }

  & > :last-child {
    border-top: none;
  }

  [data-radix-scroll-area-viewport] {
    @apply pt-0.5;

    p:not(:first-child) {
      @apply mt-4;
    }
  }

  [data-fd-if-empty] {
    @apply hidden;
  }
}

#nd-subnav {
  @apply h-14;

  backdrop-filter: none;

  > div {
    @apply border-none px-6;
  }

  [data-search-full] {
    @apply bg-default border-border shadow-xs/5 rounded-lg;

    kbd {
      @apply bg-default-hover border-border;
    }
  }
}

#nd-page {
  @apply gap-10 !pt-8;

  > article {
    @apply pt-0;
  }
}

#nd-docs-layout {
  background: var(--background);
  margin-top: 60px;
  border-left: 1px solid var(--border);
  border-top: 1px solid var(--border);
  border-radius: 12px 0 0 0;

  @media (min-width: 600px) {
    --fd-sidebar-width: 250px;
  }
}

#nd-toc {
  padding-top: 8px;
  --fd-toc-width: 220px;
  --color-fd-foreground: transparent;
  /* Disables the active indicator */
  [role="none"] {
    display: none;
    background: transparent;
  }

  @media (min-width: 600px) {
    --fd-toc-width: 240px;
  }
}

#nd-tocnav {
  border-radius: 0.45rem;
  box-shadow: 0 0 0 1px var(--color-fd-border);
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 4px;
  border: none;

  @media (min-width: 600px) {
    margin-right: 1rem;
  }
}

.prose {
  .shiki {
    @apply border-none;

    .fd-scroll-container {
      @apply px-1;
    }
  }
}

/* Scrolling Banner Animations */
@keyframes scrolling-banner {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-50% - var(--gap) / 2));
  }
}

@keyframes scrolling-banner-vertical {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(-50% - var(--gap) / 2));
  }
}

@keyframes custom-fade-in {
  from {
    opacity: 0;
    backdrop-filter: blur(0px) saturate(0%);
    background-color: transparent;
  }
  to {
    opacity: 1;
    backdrop-filter: blur(8px) saturate(180%);
    background-color: var(--color-backdrop);
  }
}

@keyframes custom-fade-out {
  from {
    opacity: 1;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }
  to {
    opacity: 0;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
  }
}

/* Animation utility classes */
.animate-scrolling-banner {
  animation: scrolling-banner var(--duration) linear infinite;
}

.animate-scrolling-banner-vertical {
  animation: scrolling-banner-vertical var(--duration) linear infinite;
}
