@import "tailwindcss";
@import "@heroui/styles";
@import "fumadocs-ui/css/black.css";
@import "fumadocs-ui/css/preset.css";

:root {
  /* Override accent colors with your brand */
  /* --accent: oklch(0.7 0.25 260); */
  /* --accent-foreground: oklch(0.98 0 0); */

  /* Or use your existing Tailwind color scale */
  /* --accent: var(--color-blue-600); */
  /* --accent-soft: var(--color-blue-100); */

  /* Fumadocs UI */
  --color-fd-background: #f9f9f9;
  --color-fd-secondary: #f9f9f9;
  --color-fd-card: #f9f9f9;
  --spacing-fd-container: 1120px;
  --color-fd-border: oklch(0 0 0 / 10%);
}

[data-theme="dark"],
.dark {
  /* Your values */
  /* --radius: 0.5rem; */
  /* --cursor: default; */
  --color-fd-background: #1a1a1a;
  --color-fd-card: #1a1a1a;
}

/* To override HeroUI Components Styles */
/* @utility button {
  @apply rounded-lg;
} */

/* Fumadocs UI Components Styles */

#nd-nav {
  border: none;

  /* Only affects the Docs/Components ul, not the search/theme toggle */
  ul:first-of-type {
    padding-top: 4px;
    gap: 0;
  }

  ul:last-of-type {
    li > a:last-of-type {
      @apply text-foreground ml-1 inline-flex items-center rounded-full border p-1.5;
    }
  }

  li > a {
    color: var(--muted);
  }
}

#nd-sidebar {
  border: none;
  --radius: 0.5rem;
  --color-fd-border: transparent;
  & > :last-child {
    border-top: none;
  }
}

#nd-toc {
  --color-fd-foreground: transparent;
  /* Disables the active indicator */
  [role="none"] {
    display: none;
    background: transparent;
  }
}
