/**
 * Light theme
 * Default HeroUI theme
 */

/* Theme variables only - no selectors */
--background: oklch(100% 0 0);
--foreground: oklch(14.48% 0 0);
--panel: oklch(100% 0 0);

--muted: oklch(0.6118 0.0216 264.436);
--muted-foreground: oklch(0.7072 0.0221 264.055);

--surface: oklch(0.9511 0.0045 264.531);
--surface-foreground: var(--foreground);

--scrollbar: oklch(0.8902 0.0104 264.364);

--base: oklch(0.9804 0.0018 264.531);
--base-foreground: oklch(0.5529 0.0197 264.532);

--accent: oklch(0.14 0 0);
--accent-foreground: oklch(0.99 0 0);

--accent-soft: oklch(0.9196 0.0086 264.542);
--accent-soft-foreground: oklch(0.4863 0.0188 264.524);

/* Surface Levels */
--surface-1: oklch(100% 0 0);
--surface-2: var(--base);
--surface-3: var(--surface);

/* Status Colors */
--success: oklch(0.55 0.1241 153.51);
--success-foreground: oklch(99.11% 0 0);

--warning: oklch(0.67 0.1428 72.73);
--warning-foreground: oklch(99.11% 0 0);

--danger: oklch(0.59 0.2228 29.94);
--danger-foreground: oklch(99.11% 0 0);

/* Misc Colors */
--border: oklch(0 0 0 / 15%);
--focus: oklch(0% 0 0 / 20%);
--link: var(--foreground);

/* Shadow */
--shadow-border: 0 0px 5px 0px rgba(0, 0, 0, 0.02), 0 2px 10px 0px rgba(0, 0, 0, 0.06), 0 0px 1px 0px rgba(0, 0, 0, 0.3);

/* Glass effects (disabled in default theme) */
--blur: 0px;
--blur-soft: 0px;
--blur-strong: 0px;
--depth: 0;