/* Declares the theme variables - @see https://tailwindcss.com/docs/theme */
@import "../shared/theme.css";

/* Default Theme */
@import "./variables.css" layer(theme);

/* Component customizations for default theme */
@import "./components/index.css" layer(components);
