@layer base {
  /* HeroUI Default Theme */
  :root {
    color-scheme: light;

    /* == Common Variables == */

    /* Primitive Colors (Do not change between light and dark) */
    --white: oklch(100% 0 0);
    --black: oklch(0% 0 0);
    --snow: oklch(0.9911 0 0);
    --eclipse: oklch(0.2103 0.0059 285.89);

    /* Spacing scale */
    --spacing: 0.25rem;

    /* Border */
    --border-width: 1px;
    --field-border-width: var(--border-width);
    --disabled-opacity: 0.5;

    /* Ring offset - Used for focus ring */
    --ring-offset-width: 2px;

    /* Typography */
    --font-size-base: 1rem;
    --font-size-scale-desktop: 0.875;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;

    /* Cursor */
    --cursor-interactive: pointer;
    --cursor-disabled: not-allowed;

    /* Radius */
    --radius: 0.5rem;
    --field-radius: calc(var(--radius) * 1.5);

    /* == Light Theme Variables == */

    /* Base Colors */
    --background: var(--white);
    --foreground: var(--eclipse);
    --panel: var(--white);
    --panel-foreground: var(--foreground);

    --muted: oklch(55.2% 0.016 285.938);

    --scrollbar: oklch(87.1% 0.006 286.286);

    --default: oklch(96.7% 0.001 286.375);
    --default-foreground: var(--eclipse);

    --surface-1: var(--background);
    --surface-2: oklch(98.5% 0 0);
    --surface-3: oklch(92% 0.004 286.32);

    --accent: oklch(0.6204 0.195 253.83);
    --accent-foreground: var(--snow);

    --accent-soft: oklch(0.9612 0 0);
    --accent-soft-foreground: oklch(0.6204 0.195 253.83);

    /* Form Field Defaults */
    --field-background: oklch(0.9612 0 0);
    --field-foreground: oklch(0.2103 0.0059 285.89);
    --field-placeholder: var(--muted);
    --field-border: var(--border);

    /* Status Colors */
    --success: oklch(0.7329 0.1935 150.81);
    --success-foreground: var(--eclipse);

    --warning: oklch(0.7819 0.1585 72.33);
    --warning-foreground: var(--eclipse);

    --danger: oklch(0.6532 0.2328 25.74);
    --danger-foreground: var(--snow);

    /* Component Colors */
    --segment: var(--white);
    --segment-foreground: var(--eclipse);

    /* Misc Colors */
    --border: oklch(0 0 0 / 0%);
    --divider: oklch(92% 0.004 286.32);
    --focus: var(--accent);
    --link: var(--accent);

    /* Shadows */
    --panel-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3) inset, 0 2px 8px 0 rgba(0, 0, 0, 0.08);
    /* Shadow used for form fields */
    --field-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1) inset, 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    /* Skeleton Default Global Animation */
    --skeleton-animation: shimmer; /* shimmer, pulse, none */
  }

  .dark,
  [data-theme="dark"] {
    color-scheme: dark;

    /* == Dark Theme Variables == */

    /* Base Colors */
    --background: var(--black);
    --foreground: var(--snow);
    --panel: var(--eclipse);

    --muted: var(--color-neutral-400);

    --scrollbar: var(--color-neutral-800);

    --default: var(--color-neutral-900);
    --default-foreground: var(--snow);

    --surface-1: var(--background);
    --surface-2: var(--color-neutral-900);
    --surface-3: var(--color-neutral-800);

    --accent: var(--color-neutral-50);
    --accent-foreground: var(--eclipse);

    --accent-soft: var(--color-neutral-800);
    --accent-soft-foreground: var(--color-neutral-200);

    /* Form Field Defaults - same as light theme (override as needed) */

    /* Status Colors */
    --success: oklch(0.5503 0.1244 153.56);
    --success-foreground: var(--snow);

    --warning: oklch(85% 0.1414 77.88);
    --warning-foreground: var(--eclipse);

    --danger: oklch(0.5798 0.1635 30.83);
    --danger-foreground: var(--snow);

    /* Component Colors */
    --segment: oklch(1 0 0 / 16%);
    --segment-foreground: var(--foreground);

    /* Misc Colors */
    --border: oklch(1 0 0 / 12%);
    --divider: var(--color-neutral-800);
    --focus: oklch(100% 0 0 / 50%);
    --link: var(--foreground);

    /* Shadows */
    --panel-shadow: 0 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 2px 8px 0 rgba(0, 0, 0, 0.08);
    --field-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1) inset, 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
}
